@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

@font-face {
  font-family: 'Karma'; 
  src: url('./fonts/KarmaFuture.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Stormfaze'; 
  src: url('./fonts/stormfaze.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  font-family: "Lato";
}

.App {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}


.home {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  height: 100vh;
}

.navbar {
  padding: 10px;
  display: flex;
  align-items: center;
  width: 900px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #333;
  position: fixed;
  background-image:'./public/images/4951061_2579646.jpg';
  background-size: cover;
  z-index: 1000;
  border-bottom: 1px solid #fe97af;
}

.navbar h1 {
  color: #black;
  font-family: 'stormfaze';
  font-size: 50px;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #333;
  font-family: 'stormfaze';
}

.navbar a:hover {
  text-decoration: underline;
}

.content {
  max-width: 100%;
  margin-top: 10px;
  padding: 10px;
}

body {
  margin: 0;
  padding-top: 100px;
  max-width: 100%;
}

.footer {
  padding: 20px;
  display: flex;
  max-width: 900px;
  margin: 0 auto;
  border-top: 2px solid #fe97af;
  color: #F7F6F6;
  justify-content: center;
  background-image:'./public/images/4951061_2579646.jpg';
  margin-top: 20px;
  z-index: 1;
}